.container{
    border: 1px solid black;
    background-color: white;
    margin-top: 3vw;
}
#remimg{
    width: 25%;
    height: 25%;
}
video{
    position: absolute;
    left: 2.5vw;
    top: 12vw;
    height: 25vw;
    width: 48vw;
}
.row{
    margin: 5px;
    border: 2px solid black;
    align-items: center;
}
body{
    text-align: center;
}
p{
    color: red;
}
#remimg{
    height: auto;
    width: auto;
}